<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Depot</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="manifest" href="petstore.webmanifest">
    <script src="products.js"></script>
    <script>
        if ('serviceWorker' in navigator){
            navigator.serviceWorker.register('service-worker.js');
        };
    </script>
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click="showCheckout">
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
        </header>

        <main>
            <div v-if="showProduct">
                <div class='product' v-for="product in sortedProducts">
                    <figure>
                        <img v-bind:src="product.image">
                    </figure>

                    <h2 v-text="product.title"></h2>
                    <p v-html="product.description"></p>
                    <p>Price: {{product.price}}$</p>
                    <!--double {{}} can be used instead of v-text-->
                    <div>
                        <span v-for="n in product.rating">★</span>
                        <span v-for="n in 5-product.rating">☆</span>
                    </div>

                    <button v-on:click="addToCart(product)" v-if="canAddToCart(product)">Add to Cart</button>
                    <button disabled="disabled" v-else>Add to Cart</button>
                    <span v-if="product.availableInventory === cartCount(product.id)">All out!</span>
                    <span v-else-if="product.availableInventory - cartCount(product.id) <= 5">Only {{product.availableInventory - cartCount(product.id)}} left!</span>
                    <span v-else>Buy now!</span>
                </div>
            </div>

            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>First Name:</strong>
                    <input v-model="order.firstName">
                    <!--.trim is not useful in newer cdn links-->
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <input v-model.trim="order.lastName">
                </p>
                <p>
                    <strong>Address:</strong>
                    <input v-model.trim="order.address">
                </p>
                <p>
                    <strong>City:</strong>
                    <input v-model.trim="order.city">
                </p>
                <p>
                    <strong>State:</strong>
                    <select v-model.trim="order.state">
                        <option disabled value="">State</option>
                        <option v-for="(state, key) in states" v-bind:value="state">{{key}}</option>
                    </select>
                </p>
                <p>
                    <strong>Zip/Postal Code:</strong>
                    <input v-model.number="order.zip" type="number">
                </p>

                <p>
                    <input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.yesGift" v-bind:false-value="order.noGift">
                    <label for="gift">Ship as gift?</label>
                </p>

                <p>
                    <input type="radio" id="home" value="Home" v-model="order.method">
                    <label for="home">Home</label>

                    <input type="radio" id="business" value="Business" v-model="order.method">
                    <label for="business">Business</label>
                </p>

                <h2>Order Information</h2>
                <p>First Name: {{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>
                <p>Address: {{order.address}}</p>
                <p>City: {{order.city}}</p>
                <p>Zip: {{order.zip}}</p>
                <p>State: {{order.state}}</p>
                <p>Method: {{order.method}}</p>
                <p>Gift? {{order.gift}}</p>

                <button v-on:click="submitForm">Place Order</button>
            </div>
        </main>

    </div>
    <!--this be the vue.js mounting-->
    <script type="text/javascript">
        let webstore = new Vue({ //this be called vue instance
            el: '#app', //element. COMMA IS ESSENTIAL
            data: {
                sitename: 'VueJS Pet Deopt', //here sitename is the same as v-text a few lines above
                products: products,
                order: {
                    firstName: '',
                    lastName: '',
                    address: '',
                    city: '',
                    zip: '',
                    state: '',
                    method: 'Home',
                    gift: false,
                    yesGift: 'Send as Gift',
                    noGift: 'Do not send as Gift',
                },
                cart: [], // array to store items in shopping cart
                showProduct: true,

                states: {
                    AL: 'Alabama',
                    AR: 'Arizona',
                    CA: 'California',
                    NV: 'Nevada',
                }
            },

            methods: {
                addToCart(product) {
                    this.cart.push(this.product.id);
                },
                showCheckout() {
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm() {
                    (alert('Order Submitted'))
                },
                canAddToCart(product) {
                    return product.availableInventory > this.cartCount(product.id);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[1] === id) {
                            count++;
                        }
                    }
                    return count;
                }
            },
            computed: {
                cartItemCount() {
                    return this.cart.length || "";
                },
                itemsLeft() {
                    return this.product.availableInventory - this.cartItemCount;
                },
                sortedProducts() {
                    let productsArray = this.products.slice(0);

                    function compare(a, b) {
                        if (a.price > b.price)
                            return 1;
                        if (a.price < b.price)
                            return -1;
                    }
                    return productsArray.sort(compare);
                }
            },

        })
    </script>
</body>

</html>